<ion-header-bar class="bar-clear ur-bar">
    <button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"></button>
</ion-header-bar>

<ion-view class="about-us">
    <ion-content class="padding">
        <div class="ur-logo">
            <img src="img/ur-logo.png" alt="logo">
        </div>

        <div class="about-text">
            <h1 class="heading">About UR</h1>
            <p>
                UR is an advanced cryptocurrency made for everyday people and everyday expenditures. 2,000 UR is distributed to every
                human being who chooses to join the UR
                community and proves his/her identity. There is no cost to join or to receive this distribution. UR community members may earn additional UR by referring and for helping to support the integrity, security, and usefulness of UR currency and the
                UR community. (learn more about UR)
                <br><br>
                UR Capital is a corporation whose mission is to create a secure, stable, and useful world currency available to every human being.
            </p>
            <a href="#">(learn more about UR Capital)</a>
        </div>
    </ion-content>
</ion-view>