
<ion-view class="invite-friends">
    <!--<ion-back-button ng-click="goBack()" class="back-btn button-icon ion-close"></ion-back-button>-->
    <ion-content class="invite-content">
        <a ng-click="goBack()" class="button back-btn button-icon ion-close"></a>
        <h1 class="heading">Invite Friends</h1>
        <p class="sub-heading">Interested in early access ? Improve your
            spot in line by inviting friends.THe more
            who join, the sooner you'll get it.</p>

    </ion-content>
    <div class="invite-btns">
        <div class="clearfix">
            <button class="button social-btn text-btn ion-chatbubble-working"> Text</button>
            <button class="button social-btn email-btn button-block ion-ios-email-outline"> Email</button>
        </div>
        <div class="clearfix">
            <button class="button social-btn facebook-btn ion-social-facebook"> Facebook</button>
            <button class="button social-btn twitter-btn ion-social-twitter"> Twitter</button>
        </div>
        <button class="button copy-btn button-block">Copy to Clipboard</button>
    </div>
</ion-view>
