
<ion-view view-title="" class="my-address">
    <div class="bar bar-header"></div>
    <div class="bar bar-subheader">
        <a href="#/dash" class="button back-btn button-icon ion-android-arrow-back"></a>
        <div class="scan-steps-btn">
            <a href="#/scanCode" class="button button-light">Scan Code</a>
            <a href="#/myAddress" class="button button-light active">My Address</a>
        </div>
    </div>
    <ion-content class="has-subheader my-address-content">
        <div class="qr-code-cont">
            <img src="img/qr-code-sample.png" alt="qr-code">
            <button class="button button-light copy-address-btn button-block">Copy Address</button>
        </div>
    </ion-content>

</ion-view>
