
<ion-view view-title="" class="registration">
    <ion-header-bar class="bar-light">
        <div class="title">{{credentials.phoneCountryCode}} {{credentials.phoneNumber}}</div>
        <button class="button button-clear done-btn">Done</button>
    </ion-header-bar>
    <ion-content class="padding">
        <p class="sub-heading">Please confirm your country code and enter your
            phone number</p>
        <form>
            <div class="list country-code-cont">
                <div class="item item-input item-icon-right" ng-click="openCountryPopover($event)">
                    <div class="phone-country-name" autocomplete="off" ng-bind="credentials.phoneCountryName">Pakistan</div>
                    <i class="icon ion-chevron-right"></i>
                </div>
                <div class="item item-input">
                    <input autocomplete="off" class="phone-country-code" type="tel" ng-model="credentials.phoneCountryCode" style="">
                    <input autocomplete="off" class="phone-number" type="tel" ng-model="credentials.phoneNumber">
                </div>
            </div>
        </form>
    </ion-content>
    <div class="unlock-keypad">
        <div class="row">
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(1)">1</button>
            </div>
            <div class="col col-33 mid-col">
                <button class="button button-clear pin-btn" ng-click="add(2)">2</button>
            </div>
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(3)">3</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(4)">4</button>
            </div>
            <div class="col col-33 mid-col">
                <button class="button button-clear pin-btn" ng-click="add(5)">5</button>
            </div>
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(6)">6</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(7)">7</button>
            </div>
            <div class="col col-33 mid-col">
                <button class="button button-clear pin-btn" ng-click="add(8)">8</button>
            </div>
            <div class="col col-33">
                <button class="button button-clear pin-btn" ng-click="add(9)">9</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <button class="button button-clear pin-btn"></button>
            </div>
            <div class="col col-33 mid-col">
                <button class="button button-clear pin-btn" ng-click="add(0)">0</button>
            </div>
            <div class="col col-33">
                <button class="button icon ion-backspace-outline button-clear pin-btn" ng-click="delete()"></button>
            </div>
        </div>
    </div>
</ion-view>
