
<ion-view view-title="" class="scan-code">
    <div class="bar bar-header"></div>
    <div class="bar bar-subheader">
        <a href="#/dash" class="button back-btn button-icon ion-android-arrow-back"></a>
        <div class="scan-steps-btn">
            <a href="#/scanCode" class="button button-light active">Scan Code</a>
            <a href="#/myAddress" class="button button-light">My Address</a>
        </div>
    </div>
    <ion-content class="has-subheader scan-content">
        <div class="code-scanner">
            <div class="scanner-inner">
            </div>
        </div>
        <button class="button button-clear button-block flash-btn"><i class="icon ion-flash"></i> Flash Off</button>
    </ion-content>

</ion-view>
