
    <ion-view class="splash-slide">
        <ion-content>
            <ion-slide-box on-slide-changed="slideChanged(index)">
                <ion-slide>
                    <div class="splash-logo">
                        <img src="img/s1-dia.png">
                    </div>
                    <h3>Easy Money</h3>
                    <p>UR capital makes it simple to earn and use cryptocurrency in your daily life</p>
                </ion-slide>
                <ion-slide>
                    <div class="splash-logo">
                        <img src="img/s2-dia.png">
                    </div>
                    <h3>UR</h3>
                    <p>
                        A new world currency based on you. This is<br>
                        Photoshop's version  of Lorem Ipsum.<br>
                        Proin gravida nibh
                    </p>
                </ion-slide>
                <ion-slide>
                    <div class="splash-logo">
                        <img src="img/s3-dia.png">
                    </div>
                    <h3>UR is Good Money</h3>
                    <p>Increase your personal wealth and<br>
                        enrich the lives of others<br>
                        worldwide</p>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
        <ion-footer-bar>
            <div class="welcome-ur">
                <h3>Welcome to UR</h3>
                <p>Tap “Agree & Continue” to accept UR’s<br>
                    Terms of Service and Privacy Policy
                </p>
                <a class="button button-clear button-block terms-btn">Terms and Service Agreement</a>
                <a class="button button-clear button-block agree-btn"><span>Agree & Continue</span></a>
            </div>
        </ion-footer-bar>
    </ion-view>
