
<ion-view class="transaction-earned">
    <ion-content>
        <div class="transaction-filter-top">
            <div class="filter-box padding">
                <div class="filter-btns">
                    <button class="button button-outline button-light" ng-class="{'active' : transFilter == 'today'}" ng-click="transFilter = 'today'">Today</button>
                    <button class="button button-outline button-light" ng-class="{'active' : transFilter == 'last30'}" ng-click="transFilter = 'last30'">Last 30 Days</button>
                    <button class="button button-outline button-light" ng-class="{'active' : transFilter == 'last60'}" ng-click="transFilter = 'last60'">Last 60 Days</button>
                    <button class="button button-outline button-light" ng-class="{'active' : transFilter == 'alltime'}" ng-click="transFilter = 'alltime'">All Time</button>
                    <button class="button button-outline button-light" ng-class="{'active' : transFilter == 'custom'}" ng-click="transFilter = 'custom'">Custom</button>
                </div>

                <div class="total-ur">
                    2116.00
                </div>
                <p class="last-update">
                    <i class="icon ion-clock"></i> Last Updated : 5 Days ago
                </p>
                <div class="invite-and-earn">
                    <p>Invite your Friends
                        & Earn 1500 UR</p>
                    <a href="#/invite" class="button button-outline button-light">Invite</a>
                </div>
            </div>
        </div>
        <div class="transaction-chat">
            <div class="card" ng-repeat="transaction in transactions">
                <div class="item item-avatar item-icon-right item-text-wrap">
                    <img src="img/avatar.jpg">
                    <h2>{{transaction.name}} <span class="item-date-time">{{transaction.date}}, {{transaction.time}}</span></h2>
                    <p>{{transaction.message | limitTo : txtLimit}} <span ng-show="showSeeMore">{{::(transaction.message.length > 80)? showSeeMore = true:''}} &hellip; <a ng-click="txtLimit = null; showSeeMore = !showSeeMore">See More</a></span></p>
                    <i class="icon trans-ur">{{transaction.earnedUR}} UR</i>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>