
    <ion-view class="main-splash">
        <ion-content scroll="false">
            <div class="ur-logo">
                <img src="img/ur-logo.png" alt="logo">
                <img src="img/ur-slogan.png" alt="logo">
            </div>
        </ion-content>
        <ion-footer-bar>
            <div class="welcome-ur">
                <h3>Welcome to UR</h3>
                <p class="ur-slogan">A secure cryptocurrency made for your world</p>
                <p>Tap "Agree & Continue" to accept the<br>
                    UR Capital <a class="terms-btn">Terms and Service Agreement</a><br>
                    and claim your UR.
                </p>
                <a class="button button-clear button-block agree-btn"><span>Agree & Continue</span></a>
                <a class="button button-clear button-block learn-btn"><span>Learn More</span></a>
            </div>
        </ion-footer-bar>
    </ion-view>
